# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- main

variables:
  dockerRegistryServiceConnection: 'ACRServiceConnection'
  imageRepository: 'pythonapp'
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build and publish stage
  jobs:
  - job: Build
    displayName: Build job
    pool:
      name: 'agentpool1'
    steps:
    - task: DockerInstaller@0
      inputs:
        dockerVersion: '17.09.0-ce'

    - task: Docker@2
      displayName: Build and publish image to Azure Container Registry
      inputs:
        command: buildAndPush
        containerRegistry: $(dockerRegistryServiceConnection)
        repository: $(imageRepository)
        dockerfile: '**/Dockerfile'
        tags: |
          $(tag)



# - task: UsePythonVersion@0
#   inputs:
#     versionSpec: '3.11'
#   displayName: 'Use Python 3.11'

# - script: |
#     python -m venv antenv
#     source antenv/bin/activate
#     python -m pip install --upgrade pip
#     pip install setuptools
#     pip install -r requirements.txt
#   workingDirectory: $(System.DefaultWorkingDirectory)  
#   displayName: 'Install dependencies'

# - task: ArchiveFiles@2
#   inputs:
#     rootFolderOrFile: '$(System.DefaultWorkingDirectory)'
#     includeRootFolder: true
#     archiveType: 'zip'
#     archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
#     replaceExistingArchive: true

# - task: PublishBuildArtifacts@1
#   inputs:
#     PathtoPublish: '$(Build.ArtifactStagingDirectory)'
#     ArtifactName: 'drop'
#     publishLocation: 'Container'

