# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- main

pool:
  name: agentpool1

variables:
  - name: customtag
    value: "pythonapp"
steps:

- task: DockerInstaller@0
  inputs:
    dockerVersion: '17.09.0-ce'
- task: Docker@2
  inputs:
    containerRegistry: 'DockerServiceConnection'
    command: 'login'

- task: Docker@2
  inputs:
    containerRegistry: 'ACRServiceConnection'
    command: 'buildAndPush'
    Dockerfile: '**/Dockerfile'
    repository: '7180sandeepacr.azurecr.io/PythonApp'
    tags: |
      $(customtag)




# - task: UsePythonVersion@0
#   inputs:
#     versionSpec: '3.11'
#   displayName: 'Use Python 3.11'

# - script: |
#     python -m venv antenv
#     source antenv/bin/activate
#     python -m pip install --upgrade pip
#     pip install setuptools
#     pip install -r requirements.txt
#   workingDirectory: $(System.DefaultWorkingDirectory)  
#   displayName: 'Install dependencies'

# - task: ArchiveFiles@2
#   inputs:
#     rootFolderOrFile: '$(System.DefaultWorkingDirectory)'
#     includeRootFolder: true
#     archiveType: 'zip'
#     archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
#     replaceExistingArchive: true

# - task: PublishBuildArtifacts@1
#   inputs:
#     PathtoPublish: '$(Build.ArtifactStagingDirectory)'
#     ArtifactName: 'drop'
#     publishLocation: 'Container'

